.card {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(240, 46, 46, 0.4);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    border-radius: 20px;

    &__delete_button {
        width: 50%;
        margin: 1em auto;
    }

    &__image > img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    &:hover {
        transform: scale(1.05);
        border: 1px solid red;
        box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 46, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px;
    }

    &__description {
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        overflow: scroll;

        &__title {
            font-weight: 600;
            justify-content: flex-start;
        }

        &__story {
            font-weight: 200;
            justify-content: flex-start;
        }
    }

    @media screen and (max-width: 675px) {
       align-items: center;
    }
}