.gundam-grid {
    display: grid;
    grid-template-columns: repeat(4, 302px);
    grid-template-rows: repeat(1, 500px);
    gap: 2em;

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;   
    }

    @media screen and (max-width: 675px) {
        grid-template-columns: 1fr;
        gap: 2.7em;
    }

    @media screen and (max-width: 375px) {
        grid-template-columns: 302px;
        gap: 2.7em;
    }
}